<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="custSelected">
         <instanceof
               value="com.opcoach.training.rental.Customer">
         </instanceof>
      </definition>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.cimpa.rental.ui.prefs.ColorPrefPage"
            id="com.cimpa.rental.ui.colors"
            name="RentalColor">
      </page>
   </extension>

</plugin>
