<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="custSelected">
         <instanceof
               value="com.opcoach.training.rental.Customer">
         </instanceof>
      </definition>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            category="com.cimpa.rental.ui.page1"
            class="com.cimpa.rental.ui.prefs.ColorPrefPage"
            id="com.cimpa.rental.ui.colors"
            name="Default">
      </page>
      <page
            class="com.cimpa.rental.ui.prefs.PalettePrefPage"
            id="com.cimpa.rental.ui.page1"
            name="palette">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.cimpa.rental.ui.prefs.RentalPrefIni">
      </initializer>
   </extension>
   <extension
         id="com.cimpa.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.cimpa.rental.ui.palette">
      <palette
            class="com.cimpa.rental.ui.palette.DefaultPalette"
            id="com.cimpa.rental.ui.palette1"
            name="Default">
      </palette>
      <palette
            class="com.cimpa.rental.ui.palette.RedBluePalette"
            id="com.cimpa.rental.ui.palette2"
            name="RedBlue">
      </palette>
   </extension>

</plugin>
